<div class="report-product">
	<span>当天线索来源报表</span>
	<% Kind.all.each do |kind| %>
		<% unless kind.advisories.today.count == 0 %>
			<div class="report-table product-today">
				<div class="product-number">
					<%= link_to kind.advisories.today.count, kind_path(kind.id) %>
				</div>
				<div class="product-name product-name2">
					<%= kind.name %>
				</div>
			</div>
		<% end %>
	<% end %>
</div>
<div class="report-product">
	<span>线索来源报表</span>
	<% Kind.all.each do |ind| %>
		<% unless ind.advisories.count == 0 %>
			<div class="report-table">
				<div class="product-number">
					<%= ind.advisories.count %>
				</div>
				<div class="product-name product-name2">
					<%= ind.name %>
				</div>
			</div>
		<% end %>
	<% end %>
</div>
