<div class="user-advisory">
	<table class="table">
		<% @products.each do |product| %>
			<tr>
			<td><%= link_to product.name, product_path(product) %></td>
			<td><%= link_to "编辑", edit_product_path(product), class: "btn btn-success btn-mini" %></td>
		</tr>
	<% end %>
</table>

</div>
